Lab 7 - Node-RED/Exercise 4 Historical_Data With Controls.json
[{"id":"ec9cf834.054dd","type":"debug","z":"2c46f820.a8b9c","name":"","active":false,"console":"false","complete":"false","x":910,"y":100,"wires":[]},{"id":"3dad2952.60ed46","type":"ui_chart","z":"2c46f820.a8b9c","name":"","group":"549821dc.a9bc98","order":1,"width":0,"height":0,"label":"Pi DHT Historian Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"5000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":60,"wires":[[]]},{"id":"b305c88f.8da9e8","type":"function","z":"2c46f820.a8b9c","name":"Create a Chart Array for Chart.js","func":"// This function reformats the timeseries data into an array that \n// Chart.js (See http://www.chartjs.org/ ) will plot\n// The node-red-dashboard Chart node uses Chart.js \n\nvar starttime = flow.get(\"start-time\");\nvar endtime = flow.get(\"end-time\");\n\nif( msg.payload.length === 0 ) {\n    // The historical database does not contain values for this date range \n    // Reset the chart with a blank array\n    msg.payload = [] ;\n    return msg;\n}\n\n// The Array has this structure, inserting the first element as a template.\nvar ChartData = [ {\"series\":[\"Data\"],\n                   \"data\":[[{\"x\":msg.payload[0].time,\"y\":msg.payload[0].temp}]],\n                   \"labels\":[\"Data\"]}];\n\n// Start at 1 because we've already added element 0 in the initial array definition\nfor( var i=1; i < msg.payload.length; i++ ) {\n    if( (msg.payload[i].time >= starttime) && (msg.payload[i].time <= endtime) ) {\n        // This temperature reading is within the Date Range\n        ChartData[0].data[0].push( { \"x\":msg.payload[i].time,\"y\":msg.payload[i].temp } );\n    }    \n}\n// Now we need to sort on the time so that we give the Chart node an array in time order\nChartData[0].data[0].sort(function sortNumber(a,b) { return a.x - b.x; });\n\nmsg.payload = ChartData;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":60,"wires":[["3dad2952.60ed46","ec9cf834.054dd"]]},{"id":"5d113d82.4f4c14","type":"cloudant in","z":"2c46f820.a8b9c","name":"","cloudant":"","database":"historicaldata1","service":"NODERED-IOT-WORKSHOP-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":370,"y":60,"wires":[["e0fcc64d.ce869","b305c88f.8da9e8"]]},{"id":"e0fcc64d.ce869","type":"debug","z":"2c46f820.a8b9c","name":"","active":true,"console":"false","complete":"false","x":570,"y":100,"wires":[]},{"id":"3f69d180.69de06","type":"ui_button","z":"2c46f820.a8b9c","name":"","group":"d7b8e917.4937d","order":3,"width":0,"height":0,"passthru":false,"label":"Load DHT Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":60,"wires":[["5d113d82.4f4c14"]]},{"id":"2e99aaa8.ec0fc6","type":"comment","z":"2c46f820.a8b9c","name":"Select Date Range","info":"","x":230,"y":160,"wires":[]},{"id":"c224fb60.d11cb8","type":"ui_date_picker","z":"2c46f820.a8b9c","name":"","label":"Start Date","group":"d7b8e917.4937d","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":390,"y":200,"wires":[["5c1b63ab.69f3ac"]]},{"id":"377b1b35.97a7ac","type":"ui_date_picker","z":"2c46f820.a8b9c","name":"","label":"End Date","group":"d7b8e917.4937d","order":2,"width":0,"height":0,"passthru":true,"topic":"","x":390,"y":240,"wires":[["2a405766.593a8"]]},{"id":"667be149.859788","type":"debug","z":"2c46f820.a8b9c","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":780,"y":200,"wires":[]},{"id":"aa509b1d.bb74c","type":"debug","z":"2c46f820.a8b9c","name":"","active":false,"console":"false","complete":"false","x":780,"y":240,"wires":[]},{"id":"e25f90a6.1ce72","type":"change","z":"2c46f820.a8b9c","name":"Start Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"1451624400000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":200,"wires":[["c224fb60.d11cb8"]]},{"id":"5c1b63ab.69f3ac","type":"change","z":"2c46f820.a8b9c","name":"Start Time Range","rules":[{"t":"set","p":"start-time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[["667be149.859788"]]},{"id":"2a405766.593a8","type":"change","z":"2c46f820.a8b9c","name":"End Time Range","rules":[{"t":"set","p":"end-time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":240,"wires":[["aa509b1d.bb74c"]]},{"id":"f3e47fc1.5f6c5","type":"inject","z":"2c46f820.a8b9c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":220,"wires":[["e25f90a6.1ce72","13d2d7a.e194428"]]},{"id":"13d2d7a.e194428","type":"function","z":"2c46f820.a8b9c","name":"End Date","func":"msg.payload = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":239,"wires":[["377b1b35.97a7ac"]]},{"id":"549821dc.a9bc98","type":"ui_group","z":"","name":"Historical Data","tab":"649ca78a.3fdfb","order":1,"disp":true,"width":"18"},{"id":"d7b8e917.4937d","type":"ui_group","z":"","name":"Chart Controls","tab":"649ca78a.3fdfb","order":2,"disp":true,"width":"6"},{"id":"649ca78a.3fdfb","type":"ui_tab","z":"","name":"Historical Data","icon":"fa-area-chart","order":5}]
