Lecture 6 Lab/Exercise 1 MQTT.json
[{"id":"af3ed596.b47ac8","type":"grovepi-temperature","z":"2f0ff5f7.9eca4a","name":"DHT Sensor","pin":"3","x":270,"y":220,"wires":[["114a47e1.a808f8"]]},{"id":"8ab0e62b.5f7138","type":"rbe","z":"2f0ff5f7.9eca4a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":650,"y":220,"wires":[["b515b269.ce096"]]},{"id":"114a47e1.a808f8","type":"delay","z":"2f0ff5f7.9eca4a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":220,"wires":[["8ab0e62b.5f7138"]]},{"id":"fb7a8110.11a13","type":"debug","z":"2f0ff5f7.9eca4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":280,"wires":[]},{"id":"b515b269.ce096","type":"function","z":"2f0ff5f7.9eca4a","name":"Format message","func":"temp = msg.payload[0];\nhumidity = msg.payload[1];\n\nd = {\n  temp,\n  humidity\n};\n\nmsg.payload = {\n    d\n};\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":220,"wires":[["fb7a8110.11a13","2b67ac1f.81ae94"]]},{"id":"2b67ac1f.81ae94","type":"wiotp out","z":"2f0ff5f7.9eca4a","authType":"d","qs":"true","qsDeviceId":"7aa40ef9.b2bda","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"2","name":"","x":1070,"y":220,"wires":[]},{"id":"b2ee0571.85b9f8","type":"ibmiot in","z":"2f0ff5f7.9eca4a","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"7aa40ef9.b2bda","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":"2","x":340,"y":480,"wires":[["b7135c56.2133b"]]},{"id":"b7135c56.2133b","type":"debug","z":"2f0ff5f7.9eca4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":480,"wires":[]},{"id":"c636ea2.629c118","type":"comment","z":"2f0ff5f7.9eca4a","name":"Publish event","info":"","x":270,"y":160,"wires":[]},{"id":"e3b582ee.99236","type":"comment","z":"2f0ff5f7.9eca4a","name":"Subscribe to event","info":"","x":370,"y":420,"wires":[]}][{"id":"af3ed596.b47ac8","type":"grovepi-temperature","z":"2f0ff5f7.9eca4a","name":"DHT Sensor","pin":"3","x":270,"y":220,"wires":[["114a47e1.a808f8"]]},{"id":"8ab0e62b.5f7138","type":"rbe","z":"2f0ff5f7.9eca4a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":650,"y":220,"wires":[["b515b269.ce096"]]},{"id":"114a47e1.a808f8","type":"delay","z":"2f0ff5f7.9eca4a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":220,"wires":[["8ab0e62b.5f7138"]]},{"id":"fb7a8110.11a13","type":"debug","z":"2f0ff5f7.9eca4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":280,"wires":[]},{"id":"b515b269.ce096","type":"function","z":"2f0ff5f7.9eca4a","name":"Format message","func":"temp = msg.payload[0];\nhumidity = msg.payload[1];\n\nd = {\n  temp,\n  humidity\n};\n\nmsg.payload = {\n    d\n};\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":220,"wires":[["fb7a8110.11a13","2b67ac1f.81ae94"]]},{"id":"2b67ac1f.81ae94","type":"wiotp out","z":"2f0ff5f7.9eca4a","authType":"d","qs":"true","qsDeviceId":"7aa40ef9.b2bda","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"2","name":"","x":1070,"y":220,"wires":[]},{"id":"b2ee0571.85b9f8","type":"ibmiot in","z":"2f0ff5f7.9eca4a","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"7aa40ef9.b2bda","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":"2","x":340,"y":480,"wires":[["b7135c56.2133b"]]},{"id":"b7135c56.2133b","type":"debug","z":"2f0ff5f7.9eca4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":480,"wires":[]},{"id":"c636ea2.629c118","type":"comment","z":"2f0ff5f7.9eca4a","name":"Publish event","info":"","x":270,"y":160,"wires":[]},{"id":"e3b582ee.99236","type":"comment","z":"2f0ff5f7.9eca4a","name":"Subscribe to event","info":"","x":370,"y":420,"wires":[]}]