Lab 6 - Watson IoT/Exercise 1 MQTT.json
[{"id":"e5b36f61.7787b","type":"grovepi-temperature","z":"9ed106b6.7fcc48","name":"DHT Sensor","pin":"3","x":150,"y":160,"wires":[["f8012cd2.b8877"]]},{"id":"1dfe953d.15e29b","type":"comment","z":"9ed106b6.7fcc48","name":"Publish event","info":"","x":150,"y":80,"wires":[]},{"id":"f8012cd2.b8877","type":"delay","z":"9ed106b6.7fcc48","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":160,"wires":[["57262cc9.6baa54"]]},{"id":"57262cc9.6baa54","type":"rbe","z":"9ed106b6.7fcc48","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":580,"y":160,"wires":[["f54f8e46.d43b4"]]},{"id":"f54f8e46.d43b4","type":"function","z":"9ed106b6.7fcc48","name":"Format message","func":"temp = msg.payload[0];\nhumidity = msg.payload[1];\n\nd = {\n    temp,\n    humidity\n};\nmsg.payload = { d };\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":160,"wires":[["f0c55e36.5dffc","6962b6d4.09fe08"]]},{"id":"f0c55e36.5dffc","type":"wiotp out","z":"9ed106b6.7fcc48","authType":"d","qs":"true","qsDeviceId":"f0c55e36.5dffc","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":970,"y":160,"wires":[]},{"id":"b1ebe313.7103d","type":"ibmiot in","z":"9ed106b6.7fcc48","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"f0c55e36.5dffc","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":340,"wires":[["70ec52e6.8e7c2c"]]},{"id":"98be8ec6.a264","type":"comment","z":"9ed106b6.7fcc48","name":"Subscribe to event","info":"","x":170,"y":280,"wires":[]},{"id":"70ec52e6.8e7c2c","type":"debug","z":"9ed106b6.7fcc48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":340,"wires":[]},{"id":"6962b6d4.09fe08","type":"debug","z":"9ed106b6.7fcc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":240,"wires":[]}]